.navList {
    background-color: #95161f;
    list-style: none;
    display: inline-block;
    margin-left: auto;
}

.navListLink {
    color: #ffffff;
    font: 700 1rem / 0.875rem "Arial";
    display: block;
    text-decoration: none;
    padding: 10px 25px;
}

.navListItem {
    float: left;
}

.nav .container {
    text-align: right;
    background-color: #95161f;
}

.breadCrumbs {
    background-color: #f3f3f3;
    padding: 8px 25px 7px;
}

.breadCrumbsList {

}

.breadCrumbsListItem {
    display: inline-block;
    font-size: 0.6875rem;
}

.breadCrumbsListItem a {
    color: #95161f;

}

.breadCrumbsListItem:not(:nth-last-of-type(1)):after {
    content: '/';
    color: #6b6f74;
    padding-left: 2px;
}