@import "reset.css";
@import "header.css";
@import "section.css";
@import "main.css";
@import "video.css";
@import "footer.css";
@import "framework.css";
@import "banner.css";
@import "fixed.css";

* {
    box-sizing: border-box;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}