.logo1 {
    padding: 35px 68px 35px 59px;
    border: 1px solid #E5E5E5;
}

.logo2 {
    padding: 35px 66px 35px 60px;
    border: 1px solid #E5E5E5;
}

.logo3 {
    padding: 35px 64px 35px 63px;
    border: 1px solid #E5E5E5;
}

.logo4 {
    padding: 35px 56px 35px 62px;
    border: 1px solid #E5E5E5;
}