.col1 {
    width: 8.333%;
    height: 200px;
    padding-top: 63px;
    padding-bottom: 62px;
}

.col2 {
    width: 16.667%;
}

.col3 {
    width: 20%;
    margin-right: 0;
}

.col4 {
    width: 40.454%;
}

.col5 {
    width: 41.667%;
}

.col6 {
    width: 37.727%;
}

.col7 {
    width: 48.193%;
}

.col8 {
    width: 66.667%;
}


.col9 {
    width: 46.512%;
}

.col10 {
    width: 48.315%;
}

.col11 {
    width: 91.667%;
}
.col12 {
    width: 100%;
}